<div class="hometitle ">
  <h1> Convert your designs for CAD</h1>
</div>
<div class="row">
  <div class="column"><img  style="height: 40px;width: 40px;" class="top-image center"
      src="assets/architects.png" alt="תמונה" style=" width: 100%; height: 100%;   "><img>
  </div>
  <div class="column"><img style="height: 40px;width: 40px;" class="top-image center"
      src="assets\construction-engineer.png" alt="תמונה"
      style="   width: 100%; height: 100%; "><img></div>
  <div class="column"><img style="height: 40px;width: 40px;" class="top-image center"
      src="assets/cnc-machine-cutting.png" alt="תמונה"
      style=" width: 100%; height: 100%;  ;"><img></div>
</div>
<div>
  <h4 style=" text-align:center ;color:#991313;">The world's leading conversion software built for engineers
    and designers
    like you.</h4>
</div>
<div style="align-items: center;"> <img class="top-image center" src="assets/icon-convert.png"
    alt="תמונה" style=" width: 70px; height: 70px; margin-top: 150px;  align-items: flex-start;"><img>
  <h4 class="hometitle ">Automatically convert your designs for CAD</h4>
  <ul class="center" style="margin-top: 55px;
     list-style: none;">


    <li style=" display: inline-block;">
      <img src="assets/converting-architectural-image (1).png" alt="תמונה"
        style=" display: inline;"><img>
    </li>
    <li style="display: inline-block;">
      <p style="color: gray;">SAVE TIME
      <p>
        Stop manually tracing or outsourcing redrawing.<br>
        Scan2CAD repeatedly saves days for companies
        <br>
        converting designs.
      </p>
      <br>
      <p style="color: gray;">
        AUTOMATIC TRACING</p>
      <p>
        We've spent the last 20 years <br>
        developing the most accurate automatic raster <br>
        to vector conversion for CAD.</p>
    </li>
  </ul>



</div>

<div class="  backgroundimg">
  <div class=" center gridopt">
    <div>
      <div>
        <div>
          <div style="text-align:inherit;">
            <p> <br><img src="assets/icon-vector-recognition.png" alt="" width="66" height="66">
            </p>
            <h3 style="text-align: center; color: #991313;">OBJECT&nbsp;RECOGNITION</h3>
            <p style="text-align: center;"> Scan2CAD recognises objects converting them to vector elements.
              <br>
              Arcs become vector arcs, dash-lines
              become vector dash-lines.
              <br> Over 20 vector types supported.
            </p>
            <ul style="list-style: none; ">
              <li style="display: inline-block; padding: 5px;"><img class="alignleft size-full wp-image-14680"
                  src="assets/icon-polygon.png" alt="" width="38" height="44"> </li>
              <li style="display: inline-block;padding: 5px;"><img class="alignleft size-full wp-image-14667"
                  src="assets/icon-circle.png" alt="" width="37" height="38"></li>
              <li style="display: inline-block;padding: 5px;"><img class="alignleft size-full wp-image-14681"
                  src="assets/icon-text.png" alt="" width="33" height="33"></li>
              <li style="display: inline-block;padding: 5px;"><img class="alignleft size-full wp-image-14666"
                  src="assets/icon-arc.png" alt="" width="38" height="22"></li>
            </ul>
            <hr>

          </div>
        </div>
      </div>
    </div>
  </div>