<form  style="background-color:  rgba(137, 98, 98, 0.589);border-radius: 15px;">
  <div class="  center"  style=" width: 30rem;height: fit-content; margin-top: 150px;" >
    <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3 ">
      <label for="exampleInputPassword1" class="form-label" >Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
    </div>
    <div id="passwordHelp" class="form-text"><a>forget password?</a></div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input btn-secondary" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button style="background-color: rgb(188, 59, 59);border-color: rgb(188, 59, 59);" type="submit" class="btn btn-secondary" >Submit</button>
  </div>
</form>