<p>project works!</p>
<div>
    <select class="form-select" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1"></option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <div  style="width:20rem;height: 20rem;">
  
      <div class="card-body">
  
        <h5 class="card-text">choose image to convert</h5>
        <input class="form-control btn btn-primary" type="file" id="formFileMultiple" multiple>
        
      </div>
    </div>
  </div>